{% extends "landloardindex.html" %}
{% block content %}
<style>
    .rentelcontainer {
        margin: auto;
        margin-top: 10%;
        width: 80%;

    }

    .rqeq h2 {
        font-size: small;
    }

    .rentelcontainer2 {
        width: 70%;
        border: 1px solid black;
        border-radius: 9px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .insidecontainer {
        width: 95%;
        padding: 30px;
    }

    .smartcontracts {
        width: 70%;
        border: 1px solid black;
        border-radius: 9px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
</style>

<div class="contaniner mt-5">
    <div class="rentelcontainer mt-5">
        <div class="section-title">
            <h2>My Rentel</h2>
        </div>
    </div>
    <div class="rentelcontainer2  mt-5">
        <div class="section-title rqeq">
            <h2>Rentel Requests</h2>
        </div>
        {% for item in requests  %}
        <h1>{{forloop.counter}}.</h1>
        <div class="itemcontainer">
            <div class="row">
                <div class="col-md-6">
                    <div class="insidecontainer">
                        <div class="section-title rqeq">
                            <h2>Property Details</h2>
                            <table class="table table-striped">
                                <tr>
                                    <td>Name</td>
                                    <th>: {{item.properties.name}}</th>
                                </tr>
                                <tr>
                                    <td>Place</td>
                                    <th>: {{item.properties.place}}</th>
                                </tr>
                                <tr>
                                    <td>District</td>
                                    <th>: {{item.properties.district}}</th>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <th>: {{item.properties.state}}</th>
                                </tr>
                                <tr>
                                    <td>Rent</td>
                                    <th>: {{item.properties.rentpermomth}}</th>
                                </tr>
                            </table>

                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="insidecontainer">
                        <div class="section-title rqeq">
                            <h2>Leaser Details</h2>
                        </div>
                        <img src="{{item.leaser.pro_pic.url}}" style="width:100px;height:150px" alt="pro_pic">
                        <a style="margin-left: 30px;" target="_blank" href="{{item.leaser.idproof.url}}"
                            class="btn btn-info">Download ID Proof</a>
                        <h6>Profile Pic</h6>
                        <table class="table table-striped">
                            <tr>
                                <td>Name</td>
                                <th>: {{item.leaser.name}}</th>
                            </tr>
                            <tr>
                                <td>Place</td>
                                <th>: {{item.leaser.place}}</th>
                            </tr>
                            <tr>
                                <td>District</td>
                                <th>: {{item.leaser.district}}</th>
                            </tr>
                            <tr>
                                <td>State</td>
                                <th>: {{item.leaser.state}}</th>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <th>: {{item.leaser.phone}}</th>
                            </tr>

                        </table>

                    </div>
                    <div class="col-8">
                        {% for m in messages  %}
                        <span class="{{m.tags}}">{{m}}</span>
                        <br>
                        <a href="{%url 'PersonaldetailsLandloard' %}" class="btn btn-info">Fill Profile Data</a>
                        {% endfor %}
                        <a href="{%url 'ApproveRentrequest' item.id %}" class="btn btn-success">Approve Request</a>
                        <a href="" class="btn btn-danger"> Reject Request</a>
                    </div>
                    <br><br>
                </div>

            </div>

        </div>
        {% endfor %}

    </div>
    <div class="smartcontracts">
        <div class="section-title rqeq">
            <h2>Smart Contracts</h2>
        </div>
        <table class="table">
            <tr>
                <th>Contract Id</th>
                <th>Leaser</th>
                <th>Rent</th>
                <th>Contract Status</th>
                <th>Rent status</th>
                <th>Action</th>
            </tr>
            {% for i in contract %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.leaser_name}}</td>
                <td>{{i.rent}}</td>
                <td>

                    {% if i.contract_status == True %}
                    <span style="Color:green">Contract Valid</span> <a class="btn btn-info"
                        href="{%url 'ContractvalidationCheck' i.id%}">Check</a>
                    {% else %}
                    <span style="Color:red">Contract inValid</span> <a class="btn btn-info"
                        href="{%url 'ContractvalidationCheck' i.id%}">Check</a>

                    {% endif %}

                </td>
                <td>
                    {% if i.rent_status == True %}
                    <span style="Color:green">Rent payed</span>
                    {% else %}
                    <span style="Color:red">Uppaid rent</span>
                    {% endif %}
                </td>
                <td><a href="" class="btn btn-danger btn-sm">delete</a></td>
            </tr>

            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}